
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
	[EnName] [nvarchar](110) NOT NULL,
	[ArName] [nvarchar](110) NOT NULL,
	[EnNationality] [nvarchar](110) NOT NULL,
	[ArNationality] [nvarchar](110) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Code], [EnName], [ArName], [EnNationality], [ArNationality]) VALUES (1, N'AF', N'Afghanistan', N'أفغانستان', N'Afghan', N'أفغانستاني')
INSERT [dbo].[Countries] ([Id], [Code], [EnName], [ArName], [EnNationality], [ArNationality]) VALUES (2, N'AL', N'Albania', N'ألبانيا', N'Albanian', N'ألباني')
INSERT [dbo].[Countries] ([Id], [Code], [EnName], [ArName], [EnNationality], [ArNationality]) VALUES (3, N'AX', N'Aland Islands', N'جزر آلاند', N'Aland Islander', N'آلاندي')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
